<h1>Listing Chapters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for chapter <- @chapters do %>
    <tr>
      <td><%= chapter.title %></td>
      <td><%= chapter.description %></td>

      <td>
        <span><%= link "Show", to: Routes.chapter_path(@conn, :show, chapter) %></span>
        <span><%= link "Edit", to: Routes.chapter_path(@conn, :edit, chapter) %></span>
        <span><%= link "Delete", to: Routes.chapter_path(@conn, :delete, chapter), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Chapter", to: Routes.chapter_path(@conn, :new) %></span>
